<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.country_select :country, priority: %w{TH SG MY}, prompt: "Please select a country" %>
  </div>

  <div id="subregion">
    <%= f.label :city %><br />
    <%= render partial: 'subregion_select', locals: {parent_region: f.object.country}, :remote => true %>
  </div>

  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
